section.table-display {
	margin-right: 0;
	grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}

.mondrian-table {
	flex: 1 0 auto;
	display: grid;
	grid-template-columns: 100%;
}

table {
	width: 100%;
	height: 723px;
}

td {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

.red {
	background-color: #D50000;
	color: #fff;;
}

.yellow {
	background-color: #FFD600;
	color: #fff;
}

.gray {
	background-color: #f2f2f2;
	color: #333;
}

.blue {
	background-color: #32467E;
	color: #fff;
}

.one {
	width: 14.28%;
}

.two {
	width: 28.57%;
}

.three {
	width: 42.85%;
}

.bright {
	border-right: 5px solid #333;
}

.bbottom {
	border-bottom: 5px solid #333;
}

